body {
  width: 800px;
  margin: 0 auto;
  background-color: #f2f2f2;
}
body * {
  margin: 10px 0; 
}
h1 {
  font-size: 2em;
}
ul li {
  margin-left: 20px;
}
form {
  margin-top: 20px;
  padding: 10px 10px 0 10px;
  border: 1px solid #ccc;
}
input#watermarkText {
  width: 400px;
}
hr {
  margin: 20px 0;
  color: #ddd;
}
.bar {
  height: 20px;
  background: green;
}
.err {
  color: red;
  font-weight: bold;
}
